<html>
  <head>
	<meta charset="utf-8" />
	<title>Copie Privee</title>
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/css/c.css" />
	<link rel="stylesheet" type="text/css" href="/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/hi/styles/solarized_light.css" />

	<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
	<style type="text/css" media="screen, projection">
		@import url(http://assets.freshdesk.com/widget/freshwidget.css); 
	</style> 
  </head>
<body>
 {{ yield "navbar" }}
<div class="container">{{ .content }}</div>
<div class="legal">UU, le site qui vous a à la colle. UU was made by <a href="//twitter.com/octplane">Octplane</a> with love. Use with caution. Report issues. Have fun.</div>
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/js/uu.js"></script>
<script type="text/javascript" src="/hi/highlight.pack.js"></script>
<script type="text/javascript" src="/js/sjcl.js"></script>
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<script type="text/javascript">
	FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#000000", "backgroundImage": "", "alignment": "4", "offset": "235px", "formHeight": "500px", "url": "http://privatepaste.freshdesk.com"} );
</script>

</body>
</html>
