<div class='container'>
{{ if not .encrypted_content }}
<script type='text/javascript'>var encrypted = false;</script>
<div class='container'>
  <form action='/' class='form-inline' id='gluu_form' method='POST'>
    <input id='attachments' type='hidden' />
    <textarea class='input-xlarge' id='clear_code' rows='10'></textarea>
    <button class='btn btn-primary' disabled='disabled' id='gl-but' type='submit'>
      Gluu
    </button>
    <span>
      Expiration
      <label class='checkbox'>
        <input id='never_expire' name='never_expire' type='checkbox'>Never</input>
      </label>
      <select class='span3' id='expiry_delay' name='expiry_delay'>
        <option>5 minutes</option>
        <option>30 minutes</option>
        <option>1 hour</option>
        <option selected='selected'>1 day</option>
        <option>1 week</option>
        <option>1 year</option>
      </select>
    </span>
    <span id='gl-text'>I need entropy... shake your mouse !</span>
  </form>
  <form action='/file-upload' class='dropzone' id='uploader'>
    <div class='fallback'>
      <input multiple='multiple' name='file' type='file' />
    </div>
  </form>
</div>
{{ else }}
<script type="text/javascript">var encrypted = true;</script>
	<div class='row'>
		<div class='span12'>
			This paste will {{if .never }}never expire{{ else }} expire {{ .expire }} {{ end }} and is highlighted as <span id='hljs_lang' class='change_to'></span>
		</div>
	</div>
	<div class='row'>
		<div class='span12'>
			<pre>
				<code id='code'></code>
				<code id='encrypted'>{{ .encrypted_content }}</code>
			</pre>
      <div id="attachments">{{ .attachments }}</div>
      <div id="companions"></div>
			<pre style='display:none;'><code id='spare'></code></pre>
		</div>
	</div>

{{ end }}
</div>