<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class='top-container'>
	      <a class='brand' href='/'>Copie Privée</a>
	      <ul class='nav'>
	        <li>
	          <a href='/about'>&Agrave; propos</a>
	        </li>
	        <li>
	          <a href='/'>Nouveau Collage</a>
	        </li>
	      </ul>
	    </div>
	</div>
</div>


