body {
  font-family: Helvetica;
  margin: 0px; }

/* http://colorschemedesigner.com/#3f31Tw0w0w0w0 */
select, button {
background-color: white;
border: 1px solid gray;
font-family: Helvetica;
font-size: 1em;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: #f80012;

}

.expi {
  margin-left: 10px;
  background-color: #FC717B;
  padding: 4px;
  color: white;
}


.top-container {
  position: relative;
}
.top-container a {
  color: #00675c;
  border-right: 1px solid #1e776d;
  background-color: #34cfbe;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 6px;
  padding-top: 20px;
  padding-bottom: 2px;
}

.navbar {
  margin: 20px;
}

.top-container ul.nav {
  display: inline; 
}
.top-container ul.nav li {
  display: inline; 
}

.action {
  position: relative; }

.container {
}

.row {
  padding-left: 50px;
  margin-bottom: 10px;
}

form {
    padding: 0px;
}

#gluu_form {
  top: 3em;
  bottom: 10em;
  position: absolute;
  left: 0px;
  right: 0px;
}

.prison {
  position: absolute;
  bottom: 0px;
  top: 2em;
  left:2%;
  right: 2%;
}

.paste-container {
  margin-left: 2%;
  margin-right: 2%;
}

#clear_code {
  font-family: monospace;
  width: 100%;
  height: 100%;
  position: absolute;
  resize: none;
}

.dropzone.dz-clickable {
  position: absolute;
  height: 8em;
  bottom: 1em;
  margin: 0;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.dz-default {
  text-align:center;
  font-size: 4em;
}

.legal {
  position: fixed;
  bottom: 0px;
  font-size: 0.6em;
  text-align: center;
  color: #999;
  left: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.5);
}

.legal a {
  color: #333;
}

.swhi {
  margin: 20px;
}

.attachment {
  display: block; }

textarea {
  border: 1px dashed #66cccc;
  background-color: #fdf6e3; }

.clickable {
  cursor: pointer;
  text-decoration: underline; }

#encrypted, #spare, .hidden {
  display: none; }

#spare {
  width: 100%;
  font-family: monospace;
  border: 1px solid #66cccc;
  font-size: 12px; }

#attachments, #encrypted {
  display: none; }

#companions {
  background-color: white;
  margin-bottom: 20px;
}

pre code {
  font-size: 12px;
  overflow: display;
  border: 1px solid #66cccc; }

.f {
  width: 100%; }

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

li {
    display: block;
}

pre li:before {
  text-align: right;
  display: inline-block;
  content: counter(item) "|";
  counter-increment: item;
  color: #BA2F39;
  width: 3em;
  margin-right: 1em;
}
